.shake{
    /*Animation for 1 second*/ 
    animation: shake 1s;
}
/*Moves Position While in Place*/
  @keyframes shake {
    0% { transform: translate(4px, 4px) rotate(0deg); }
    10% { transform: translate(-4px, -4px) rotate(-1deg); }
    20% { transform: translate(-7px, 0px) rotate(1deg); }
    30% { transform: translate(7px, 4px) rotate(0deg); }
    40% { transform: translate(4px, -4px) rotate(1deg); }
    50% { transform: translate(-4px, 4px) rotate(-1deg); }
    60% { transform: translate(-7px, 4px) rotate(0deg); }
    70% { transform: translate(7px, 4px) rotate(-1deg); }
    80% { transform: translate(-4px, -4px) rotate(1deg); }
    90% { transform: translate(4px, 4px) rotate(0deg); }
    100% { transform: translate(4px, -4px) rotate(-1deg); }
  }

  body{
      background-color: #25b8f2; /*Light Steal Blue*/
      color: #fff; /*White*/
      font-family: 'Josefin Sans', sans-serif;
	  font-size: 20px;
	  overflow: hidden; /*Hide scrollbars*/
  }
  
  button{
      margin-top: 1em;
	  color: #fff; /*White*/
	  background-color: #f25f25;
  }

  .btn-primary {
    color: #fff; /*White*/
    background-color: #f25f25;
    border-color: #585858; /*Gray*/
}

  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #000; /*Black*/
    background-color: #fff;
    border-color: #585858; /*Gray*/
}

  .container{
      text-align: center;
      padding-top:2em;
	  margin:0 auto;
	  width:800px;
  }

  h1{ 
	  /*Heading*/
      font-size: 60px;
	  font-family: 'Josefin Sans', sans-serif;
	  color: #fff;
  }

  #fortune{
	  text-align: center;
	  padding-bottom: 20px;
  }
  
  .question_box {
	  padding-top: 20px;
  }
  
  input::placeholder {
	  color: #585858;
      font-size: 20px;
      font-family: 'Josefin Sans', sans-serif;
	  text-align: center;
}
  
  #ball{
	  width: 350px;
	  height: auto;
	  margin:0 auto;
  }
  
  
 